/* notifications */
.qwreey-notifications .message-content {
    /* notification text sizing */
    font-size: 0.9em;
    text-overflow: ellipsis;
    width: 110px;
}
.qwreey-notifications .message-list-section-list,
.qwreey-notifications .message-list-sections {
    /* scrolling list margin/padding/spacing */
    margin: 0px;
    spacing: 0px;
    padding: 0px;
}
.qwreey-notifications .message {
    /* message margin / round */
    margin: 6px 0px 2px 0px;
    border-radius: 18px;
}
.qwreey-notifications {
    /* notification box sizing */
    padding: 12px 4px 16px 16px;
    margin: 0px 12px;
    max-height: 292px;
}
.qwreey-notifications .message-list-sections {
    margin-right: 12px;
}
.qwreey-notifications .message-list-clear-button {
    /* clear button */
    font-size: 0.87em;
    padding: 3px 6px;
    border-radius: 99px;
    margin-right: 4px;
}
.qwreey-notifications .qwreey-notifications-title {
    /* notifications title */
    font-size: 0.93em;
    margin-left: 4px;
}

.qwreey-quick-settings {
    margin: 12px 12px;
}

/* media control on quick settings */
.quick-settings .qwreey-media .message {
    /* margin / round */
    margin: 2px 0px 0px 0px;
    border-radius: 22px;
    padding: 0px;
    width: 100px;
}
.quick-settings .qwreey-media .message-content {
    /* text sizing */
    font-size: 0.89em;
    text-overflow: ellipsis;
    width: 60px;
}
.quick-settings .qwreey-media .message-media-control {
    /* control button sizing */
    padding-left: 5px;
    padding-right: 5px;
}

/* media control compact */
.qwreey-media-compact-mode .message-icon-bin {
    padding: 0px;
}
.qwreey-media-compact-mode .message {
    margin: 0px;
}
.qwreey-media-compact-mode .media-message-cover-icon {
    background-color: transparent;
    padding: 0px;
    margin: 16px 0px 0px 12px;
    /* border-radius: 99px; */
}

/* weather box overflow fix */
.qwreey-fixed-weather .weather-button {
    margin-bottom: 6px !important;
}
.qwreey-fixed-weather .weather-button .weather-box {
    spacing: 7px;
}
.qwreey-fixed-weather .weather-button .weather-header-box {
    spacing: 4px;
}
.qwreey-fixed-weather .weather-button .weather-header.location {
    font-weight: normal !important;
    font-size: 9pt !important;
}
.qwreey-fixed-weather .weather-button .weather-grid {
    spacing-rows: 4px !important;
    spacing-columns: 8px !important;
}
.qwreey-fixed-weather .weather-button .weather-forecast-icon {
    icon-size: 32px !important;
}
.qwreey-fixed-weather .weather-button .weather-forecast-time {
    font-size: 8pt !important;
    font-weight: normal !important;
    padding-top: 0.2em !important;
    padding-bottom: 0.4em !important;
}
