@use "../global.scss" as *;

#{$p}-media {
    // Header
    #{$p}-header {
        margin-bottom: 8px;

        // Header Label
        #{$p}-header-label {
            font-weight: bold;
            font-size: 0.98em;
            margin-left: 4px;
        }
    }

    // Progress Control (Position/Length Text and Slider)
    #{$p}-progress-control {
        spacing: 6px;
        padding: 0px 6px;

        #{$p}-position-label, #{$p}-length-label {
            font-size: 0.92em;
        }
    }

    .message-list-section-list {
        margin: 0px;
        padding: 0px;
        spacing: 0px;
    }
}
