@use "../global.scss" as *;

#{$p}-weather {
    &#{$p}-weather-remove-shadow {
        .weather-button {
            box-shadow: none !important;
        }
    }
    &#{$p}-weather-compact {
        .weather-button {
            padding: 0px 0px 10px 0px;
            .weather-forecast-time {
                padding-top: 4px;
                padding-bottom: 2px;
            }
            .weather-forecast-icon {
                margin-bottom: 2px;
            }
        }
    }
    .weather-button {
        margin: 0px;
        .weather-header {
            margin: 12px 2px 2px 12px;
        }
    }
    .weather-box>.weather-grid>StLabel {
        margin: 2px 0px 0px 12px;
    }

    // Header
    #{$p}-header {
        margin-bottom: 6px;

        // Header Label
        #{$p}-header-label {
            font-weight: bold;
            font-size: 0.98em;
            margin-left: 4px;
        }

        // Location Label
        #{$p}-location-label {
            font-weight: bold;
            font-size: 0.98em;
            margin-right: 6px;
            margin-top: 2px;
        }
    }
}
