/* notifications */
    .QSTWEAKS-notifications {
        max-height: 292px;
    }

    /* notification text sizing */
        .QSTWEAKS-notifications .message-content {
            font-size: 0.9em;
            text-overflow: ellipsis;
            width: 0px;
        }

    /* titlebar */
        .QSTWEAKS-notifications .QSTWEAKS-notifications-title {
            /* notifications title */
            font-weight: bold;
            font-size: 0.98em;
            margin-left: 4px;
            padding: 2px 0px 6px 0px;
        }
        /* clear button */
            .QSTWEAKS-notifications-clear-button {
                /* clear-notifications-button */
                font-weight: bold;
                font-size: 0.98em;
                padding: 4px 4px;
                border-radius: 8px;
                margin-right: 4px;
            }
            .QSTWEAKS-notifications-clear-button:hover {
                /* on hover */
                background-color: rgba(127, 127, 127, .2);
            }
            .QSTWEAKS-notifications-clear-button-icon {
                margin-right: 4px;
            }

    /* use native controls */
        .QSTWEAKS-notifications-use-native-controls .QSTWEAKS-notifications-title {
            padding: 0px 0px 6px 0px;
        }
        /* dnd switch */
        .QSTWEAKS-notifications-native-dnd-switch {
            margin-bottom: 0px;
            height: 20px;
        }
        .QSTWEAKS-notifications-native-dnd-text {
            font-size: 0.92em;
            margin-right: 4px;
            margin-bottom: 0px;
        }
        .QSTWEAKS-notifications-native-clear-button {
            font-size: 0.92em;
            padding: 4px 4px;
        }
        .QSTWEAKS-notifications-use-native-controls {
            padding-bottom: 0px;
        }
        .QSTWEAKS-notifications-native-control-box {
            padding: 8px 4px 0px 4px;
        }

    /* scrolling list margin/padding/spacing */    
        .QSTWEAKS-notifications .message-list-section-list,
        .QSTWEAKS-notifications .message-list-sections {
            margin: 0px;
            spacing: 0px;
            padding: 0px;
        }
        /* .QSTWEAKS-notifications-vscrollbar-visible {
            background-color: red;
        } */

    /* no notifications */
        .QSTWEAKS-notifications-no-notifications-placeholder {
            width: 100%;
            font-weight: bold;
            margin: 0px;
        }
        .QSTWEAKS-notifications-no-notifications-placeholder-icon {
            margin-bottom: 12px;
        }

    /* integrated */
        .QSTWEAKS-notifications-integrated {
            /* sizing */
            padding: 0px;
            margin: 4px 0px 0px 0px;
        }
        /* notifications */
            .QSTWEAKS-notifications-integrated .QSTWEAKS-notifications-no-notifications-placeholder {
                /* notifications placeholder */
                margin: 10px 0px;
            }
            .QSTWEAKS-notifications-integrated .message-list-sections {
                margin-right: 0px;
            }

    /* separated */
        .QSTWEAKS-notifications-separated .QSTWEAKS-notifications-clear-button {
            margin-right: 18px;
        }
        .QSTWEAKS-notifications-separated {
            padding: 16px 4px 16px 16px;
        }
        .QSTWEAKS-notifications-separated .QSTWEAKS-notifications-no-notifications-placeholder {
            margin: 16px 0px;
        }
        .QSTWEAKS-notifications-separated .message-list-sections {
            margin-right: 12px;
        }
        /* Fix menu margin bugs */
            .QSTWEAKS-panel-menu-separated .quick-toggle-menu-container {
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 20px;
                margin-bottom: 0px;
                padding-bottom: 0px;
            }
            .QSTWEAKS-quick-settings-separated-shutdown-item {
                margin-top: 20px;
            }
            .QSTWEAKS-panel-menu-separated .quick-toggle-menu {
                margin: 0;
            }

/* media control on quick settings */
    .quick-settings .QSTWEAKS-media .message {
        /* margin / round */
        margin: 2px 0px 0px 0px;
        padding: 0px;
        width: 100px;
    }
    .quick-settings .QSTWEAKS-media .message-content {
        /* text sizing */
        font-size: 0.89em;
        text-overflow: ellipsis;
        width: 0px;
    }
    .quick-settings .QSTWEAKS-media .message-media-control {
        /* control button sizing */
        padding-left: 5px;
        padding-right: 5px;
    }

/* media control compact */
    .QSTWEAKS-media-compact-mode .message-icon-bin {
        padding: 0px;
    }
    .QSTWEAKS-media-compact-mode .message {
        margin: 0px;
    }
    .QSTWEAKS-media-compact-mode .media-message-cover-icon {
        background-color: transparent;
        padding: 0px;
        margin: 16px 0px 0px 12px;
    }

/* weather box overflow fix */
    .QSTWEAKS-fixed-weather .weather-button {
        margin-bottom: 6px;
    }
    .QSTWEAKS-fixed-weather .weather-button .weather-box {
        spacing: 7px;
    }
    .QSTWEAKS-fixed-weather .weather-button .weather-header-box {
        spacing: 4px;
    }
    .QSTWEAKS-fixed-weather .weather-button .weather-header.location {
        font-weight: normal;
        font-size: 9pt;
    }
    .QSTWEAKS-fixed-weather .weather-button .weather-grid {
        spacing-rows: 4px;
        spacing-columns: 8px;
    }
    .QSTWEAKS-fixed-weather .weather-button .weather-forecast-icon {
        icon-size: 32px;
    }
    .QSTWEAKS-fixed-weather .weather-button .weather-forecast-time {
        font-size: 8pt;
        font-weight: normal;
        padding-top: 0.2em;
        padding-bottom: 0.4em;
    }

/* volume mixer label */
    .QSTWEAKS-volume-mixer-label {
        padding-left: 6px;
        font-size: 0.92em;
        text-overflow: ellipsis;
        width: 0px;
    }
    .QSTWEAKS-volume-mixer-slider {
        margin: 4px 0px;
    }

/* .QSTWEAKS-adjust-border-radius */
    .QSTWEAKS-notifications.QSTWEAKS-adjust-border-radius .message {
        /* notification message margin / round */
        margin: 6px 0px 2px 0px;
        border-radius: 18px;
    }
    .quick-settings .QSTWEAKS-media.QSTWEAKS-adjust-border-radius .message {
        border-radius: 22px;
    }

/* .QSTWEAKS-remove-shadow */
    .QSTWEAKS-notifications.QSTWEAKS-remove-shadow .message,
    .quick-settings .QSTWEAKS-media.QSTWEAKS-remove-shadow .message {
        box-shadow: none;
    }

/* input output labels */
    .QSTWEAWKS-input-output-label {
        width: auto;
    }
